.THIS .chkboxLbl {
    font-weight: bold;
}

.THIS.scrollerSize {
height: inherit;
}

.THIS .slds-input{
    font-size: 12px;
    /*display: inline-block !important; */
    
}

.THIS .slds-truncate{
    font-family: 'Salesforce Sans' ,Arial, sans-serif;
	font-size: 13px;
   /* max-width: 90%;*/

}

/*for iPad and other tablets*/
 @media (min-width: 768px) and (max-width: 1024px){
.THIS .slds-form-element__label{
     font-family: 'Salesforce Sans' ,Arial, sans-serif;
	font-size: 13px;
    font-weight: bold;
    display: inline-block !important;
    vertical-align: bottom;
    margin-bottom: 0.25rem;
}

.THIS .slds-form-element__control{
     font-family: 'Salesforce Sans' ,Arial, sans-serif;
	font-size: 12px;
    display: inline-block !important;
    margin-bottom: 0.75rem;
}
    
.THIS .slds-icon_small{
    width: 2.5rem;
    height: 4.0rem;
    padding-top: 5px;
    vertical-align: top;
 }
    
.THIS .slds-select{
    width: 100%;
}
    
.THIS .buttonClass{
        width: 125% !important;
        margin-top: 0.05rem;
        padding-top: 20px;
        padding-bottom: 2px;
    }

.THIS .buttonFont{
        font-size: 10px;
        padding-bottom: 1px;
        padding-top: 1px;
        padding-left: 0.5rem;
    	padding-right: 0.5rem;
        margin-bottom: 0.05rem;
    }

.THIS .slds-var-m-left_xx-large{
    	margin-left: 55%;
} 
    
.THIS .RoomNameClass{
        width: 20%;
    }
    
.THIS .roomsbuttonfont{
        font-size: 12px !important;
        font-weight: normal;
    }
    
.THIS .slds-checkbox_faux{
    margin-top: 2rem;
    width: 25px;
    height: 25px;
}
    
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
.THIS .slds-select{
    width: 100%;
}
    
.THIS .slds-var-m-left_xx-large{
    	margin-left: 4%;
} 
    
.THIS .RoomNameClass{
        width: 150%;
    }
    
.THIS .slds-checkbox_faux{
	margin-top: 1rem;
    width: 15px;
    height: 15px;
}
    
.THIS .slds-icon_small{
        width: 2.5rem;
        height: 2.5rem;
        line-height: 4;
    }    
    
}

/*For desktops and laptops*/
@media (min-width: 1281px) {
.THIS .slds-form-element__label{
     font-family: 'Salesforce Sans' ,Arial, sans-serif;
	font-size: 13px;
    font-weight: bold;
}

.THIS .slds-form-element__control{
     font-family: 'Salesforce Sans' ,Arial, sans-serif;
	font-size: 12px;
}
    
    
.THIS .buttonClass{
        width: 125% !important;
        margin-top: 0.25rem;
        padding-top: 20px;
        padding-bottom: 2px;
    }

.THIS .buttonFont{
        font-size: 12px;
        padding-bottom: 1px;
        padding-top: 1px;
        padding-left: 1.5rem;
    	padding-right: 1.5rem;
    }
    
.THIS .slds-var-m-left_xx-large{
    	margin-left: 75%;
} 
    
.THIS .RoomNameClass{
        width: 20%;
    }
    
.THIS .roomsbuttonfont{
        font-size: 12px !important;
        font-weight: normal;
    }
    
.THIS .slds-checkbox_faux{
    margin-top: 1rem;
    width: 20px;
    height: 20px;
    }

.THIS .slds-icon_small{
    width: 2.5rem;
    height: 3.5rem;
    padding-top: 5px;
    vertical-align: top;
} 

       
}

.THIS .slds-input[disabled]{
    font-family: 'Salesforce Sans' ,Arial, sans-serif;
  	font-size: 12px;
 	background-color: rgb(242, 242, 242);
}

.THIS .slds-page-header__title{
    font-family: 'Salesforce Sans' ,Arial, sans-serif;
  	font-size: 16px;
    font-weight: bold;
}

.THIS .slds-table{
    font-family: 'Salesforce Sans' ,Arial, sans-serif;
   
}

.THIS .slds-table th{
	 font-family: 'Salesforce Sans' ,Arial, sans-serif;
     white-space: break-spaces;
     background-color: rgb(0,95,178);
     color: white;
}

.THIS .slds-table td{
	 font-family: 'Salesforce Sans' ,Arial, sans-serif;
     white-space: break-spaces;
}

.THIS .slds-button{
    font-family: 'Salesforce Sans' ,Arial, sans-serif;
    font-weight: normal;  
}

.THIS .disabled-checked-icon{
        fill: #808080;
   }