.THIS .slds-page-header{
    font-family: 'Salesforce Sans' ,Arial, sans-serif;
  	font-size: 16px;
    font-weight: bold;
}

.THIS .slds-truncate{
    font-family: 'Salesforce Sans' ,Arial, sans-serif;
	font-size: 14px;
    font-weight: bold;
}

.THIS .slds-file--card {
     border: 0px;
}

.THIS .forceContentFileCard{
    width: 16rem;
}
.THIS .element.style{
    width: 16rem;
}

.THIS .slds-form-element__label{
    display: none;
}

.THIS .slds-form-element__control{
    padding-bottom: 10px;
    padding-top: 10px;
}