.THIS.slds-grid{
    font-size:100px;
}

.THIS.link {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}
.THIS.container{
    font-weight:700;
    font-style:oblique;
}