.THIS.smartbox {
	border-radius: 0.25rem;
	border: 1px solid #d4d4d4;
}
.THIS.smartIcon {
	position: absolute;
}
.THIS.smartIcon span {
}
.THIS .fieldValue {
	text-align: center;	
	vertical-align: middle;
}