.THIS .slds-m-around_xx-small{
    width:99%;
}
.THIS .leftPaddingClass {
    padding-left: 2rem;
}
 
/*.THIS .pillSize{
 width:100%;
}*/
.THIS li.slds-listbox__item {
    margin-left: 10px;
    margin-bottom: 10px;
}
.THIS .sldsError{
    background-color: rgb(255, 255, 255);
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    background-clip: padding-box;
}
.THIS .fullWidth{
    width: 100%;
}
.THIS .mypill button {
	display: block;
}