<template>
        <lightning-card    >
            <div class="slds-var-m-around_medium">
                        <lightning-input
                            type="search"
                            onchange={handleKeyChange}
                            label="Product Name"
                            value={searchKey} 
                        ></lightning-input>
                        </div>
                        <div class="slds-var-m-around_medium">
                        <lightning-button
                            label="Search Product"
                            onclick={handleSearch} variant="brand"
                        ></lightning-button>             
                    
                    &nbsp;&nbsp;&nbsp;&nbsp; Product Count: {productCountValue}
                  <div class="slds-p-top_large">
                    
                    <template if:true={isProductsAvaliable}>                       
                        <div class="slds-grid">
                                <div style="height: 300px;">
                                    <lightning-datatable
                                            key-field="id"
                                            data={visibleProducts}
                                            columns={columns}
                                            hide-checkbox-column="true"
                                            default-sort-direction={defaultSortDirection}                            
                                            >
                                    </lightning-datatable>
                          
                                </div> 
                        </div>                    
                    </template>                          
                    <template if:false={isProductsAvaliable}>
                        <p>No Products Found.</p>
                    </template>
                    <div slot="footer" class="slds-var-m-vertical_medium">
                        <c-pagination records={totalProducts} record-size="20" onupdate={updateProductHandler}></c-pagination> 
                    </div>    
                  
                    </div>
                <!--<template if:true={totalProducts}>
                    <template for:each={totalProducts} for:item="product">
                        <p key={product.Id}>{product.Name}</p>
                    </template>
                </template>-->
            </div>
        </lightning-card>
  
        </template>