<template>
   
    <lightning-card
        title="Generate Credit Memo"
        icon-name="custom:custom63" 
    >
        
        <template if:true={showLoadingSpinner}>
            <lightning-spinner alternative-text="Uploading......" size="medium"></lightning-spinner>
        </template>
        <div if:true={status}>
            <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" role="alert">
                    <span class="slds-assistive-text">warning</span>
                    <span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small" title="Description of icon when needed">
                        <lightning-icon size="small" icon-name="utility:error" alternative-text="Warning" ></lightning-icon>
                    </span>
                    <h2>Credit Memo can be created only for approved AR Invoices.
                    </h2>      
            </div>
        </div>
       
        <div class="slds-m-around_medium">
            <lightning-layout >
                <lightning-layout-item class="slds-m-around_xx-small" size="7">
                        <lightning-input type="text" label="Invoice Number" readonly value={nameField} ></lightning-input>
                </lightning-layout-item> 
                <lightning-layout-item class="slds-m-around_xx-small" size="7">
                        <lightning-input type="text" label="Claim Number" readonly value={claimNumber} ></lightning-input>
            </lightning-layout-item>     
                        
            </lightning-layout>
           
            <div class="row">
                 <lightning-textarea name="input7"  required value={creditmemodetails} class="input8 slds-m-bottom_x-small" label="Credit Memo Details" maxlength="250" message-when-too-long="A maximum of 140 characters are allowed in a tweet." message-when-value-missing="An empty Credit Memo cannot be posted." onchange={handleCreditMemoChange} ></lightning-textarea>
            </div> 
            <lightning-input type="checkbox" label="Partial Credit" class="input2" onchange={handleChange}></lightning-input>
            <template if:true={areDetailsVisible}>
                <lightning-layout class="slds-m-bottom_small" >
                    <lightning-layout-item class="slds-m-around_xx-small" size="6">
                        <lightning-input type="Number" class="input3" label="Labour Amount(exc GST)" value={labourAmtExGST} onchange={handleLabourAmountChange} max={custLabourExGST}></lightning-input>
                        
                    </lightning-layout-item> 
                    <lightning-layout-item class="slds-m-around_xx-small" size="6">
                        
                        <lightning-input type="Number" class="input4" label="Material Amount(exc GST)"  value={materialAmtExGST} onchange={handleMaterialAmountChange} max={custMaterialExGST}></lightning-input>
                    </lightning-layout-item>  
                   
                        
                </lightning-layout>
                <lightning-layout class="slds-m-bottom_small" >
                    <lightning-layout-item class="slds-m-around_xx-small" size="3">
                        <lightning-input type="text" label="Margin" value={margin} readonly></lightning-input>
                        
                    </lightning-layout-item> 
                    <lightning-layout-item class="slds-m-around_xx-small" size="3">
                        
                        <lightning-input type="text" label="GST"  value={gst} readonly></lightning-input>
                    </lightning-layout-item> 
                    <lightning-layout-item class="slds-m-around_xx-small" size="3">
                        
                        <lightning-input type="text" label="Credit Memo Total"  value={totalAmount} readonly></lightning-input>
                    </lightning-layout-item>   
                   
                        
                </lightning-layout>
            </template>
            <br/>
             
            <lightning-button variant="brand" label="Create Memo" title="Create Memo" disabled={status} onclick={createCreditMemo}/></lightning-button> 
            
            
        </div>    
        
         
    
   </lightning-card>  
  
</template>