.THIS .SF1h2lClass{
   font-weight: bold;
   font-size: 13px;  
   width: 300px;
}

.THIS .MenuClass{
   font-weight: bold;
   font-size: 16px;   
    width: 300px;
}

.THIS .hPanel{    
  background-color: rgb(242, 242, 242);  
  width: 100%;
  height: 100%;
}

.THIS.scrollerSize {    
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

 .THIS ::-webkit-scrollbar {
     width: 6px;
     height:6px;
 }

.THIS .left-align {
    text-align: left;
}
.THIS .right-align {
    text-align: right;
}
.THIS .center-align {
    text-align: center;
}
.THIS.rightAlign
{
    text-align:"right";
}