.THIS .tree {
    padding-right: 400px;
}

.THIS .tree1 {
    padding-right: 200px;
}


.THIS slds-text {
    background-color:red;
}

.THIS .bckgrnd{
    background-color: crimson;
    
}

.THIS .err-text{
    color: red;
    font-weight: bold;
}

.THIS .field-title{
    font-weight: bold;
}
/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    
    .THIS .slds-form-element__label{
        font-size: 13px;
     
    }
    
    .THIS {
        font-size:13px;        
    }
    
    .THIS .SF1padding{
        padding: .75rem;
    }     

	 .THIS .siteVisitClass{
        width: 50px !important;
        height: 1px !important;
        margin-top: -2rem;
        padding-top: -1rem;
    }    
}
/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    
   .THIS .slds-form-element__label{
        font-size: 13px;
       
    }
    
    .THIS {
        font-size:13px;        
    }
    
    .THIS .SF1padding{
        padding: 10px;
    }   
    
     .THIS .siteVisitClass{
        width: 50px !important;
        height: 1px !important;
        margin-top: -2rem;
        padding-top: -1rem;
    }
}
/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
   .THIS .slds-form-element__label{
        font-size: 16px;        
    }
    
    .THIS {
        font-size:16px;        
    }
    .THIS .SF1padding{
        padding: 10px;
    }
    
    .THIS .siteVisitClass{
        width: 50px !important;
        margin-top: -2rem;
        padding-top: -1rem;
    }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
   .THIS .slds-form-element__label{
        font-size: 16px;        
    }
    
    .THIS {
        font-size:16px;        
    }
    .THIS .SF1padding{
        padding: 10px;
    }
    
     .THIS .siteVisitClass{
        width: 50px !important;
        margin-top: -2rem;
        padding-top: -1rem;
    }
}
/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
   .THIS .slds-form-element__label{
        font-size: 16px;        
    }
    
    .THIS {
        font-size:16px;        
    }
    
    .THIS .SF1padding{
        padding: 0px;
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
   .THIS .slds-form-element__label{
        font-size: 16px;
      }
    
    .THIS {
        font-size:16px;        
    }
    .THIS .SF1padding{
        padding: 0px;
    }
}