<template>
    <lightning-card style="background-color: red;"  >
        <div style="color: red; font-family: verdana; font-size: 20px;text-align:center;">Manual Claim</div>
</lightning-card> 
</template>