.THIS .td{
    word-wrap: break-word;
    background-color: blue;
}

.THIS .bckgrnd{
    background-color: DodgerBlue;
    color:white;
}

.THIS .text-label
{
    font-weight:bold;
}

.THIS .table .td {
    word-wrap: break-word;          
    overflow-wrap: break-word;      
}

.THIS.scrollerSize {
    height: 100%;
    width: 100%;    
    overflow-y: auto;
    overflow-x: auto;
}