<apex:page standardController="case" >
    <apex:includeScript value="/support/console/46.0/integration.js"/> 
    <apex:includeLightning />
    
    <div id="LightningComponentid" />    
    <script>
    var currentRecId = '{!$CurrentPage.parameters.Id}';
    
    $Lightning.use("c:CreateARFeeARInvoiceApp", function() {
        $Lightning.createComponent("c:CreateARFeeARInvoice",{"recordId":currentRecId,"buttonValue":'proceed'},
                                   "LightningComponentid",
                                   
                                   function(cmp) {
                                       setTimeout(function(){
                                           testCloseTab()
                                       }, 5000);
                                       
                                   });
    });
    </script>
    
    
    <apex:includeScript value="/support/console/46.0/integration.js"/>
    <script type="text/javascript">
    
    var callback = function () {
        if (result.error) {
            alert("Error message is " + result.error);
        }
    };
    function testCloseTab() {
        
        sforce.console.getEnclosingTabId(closeSubtab);
    }
    
    var closeSubtab = function closeSubtab(result) {
        
        var tabId = result.id;
        sforce.console.closeTab(tabId, callback);
        window.location.reload();
    };
    
    </script>  
</apex:page>