<template>
    <lightning-card title="CLAIM PROCEEDING" class="slds-text-heading_large,slds-text-title_bold">
        <div class="slds-p-around_medium">
            <lightning-record-form object-api-name="Case" record-id={recordId} columns="2" mode="edit" fields={fieldsArray} onsuccess={handleSuccess}></lightning-record-form>  
        </div>    
        </lightning-card>
</template>